/*
  displayName=Full Twilight
  author=Fractal
  type=Dark
  endeavorVersion=4.0.1
  version=3
  isDefault=yes
*/

.theme {
  /* Primary colors. Dominant color on screen.*/
  --primary: #3f0131;
  --primary-dark: #300026;
  --primary-darker: #210031;
  --primary-darkest: #13001d;

  /*  Secondary colors to provide accents. By default, the gradient created
      by secondary and secondary-dark create the gradient on the navbar.
      This can be changed, of course.
  */
  --secondary: #F05661;
  --secondary-dark: #972d34;
  --secondary-darker: #70191f;
  --secondary-darkest: #3d0c10;

  /* Navigation bar color. Can be a gradient or just a solid color. Your choice! */
  --navbar-color: linear-gradient(180deg, var(--secondary) 0%, #680054 100%);

  /*  Controls color of text on primary or secondary colors.
      Make sure they're readable!
  */
  --text-primary: white;
  --text-secondary: white;
}

  /* Card/badge colors. */

.theme .warn { 
  --primary: #f0945f;
  --primary-dark: #df7132;
  --text-primary: white;
}

.theme .alert {
  --primary: #ce643a;
  --primary-dark: #a34621;
  --text-primary: white;
}

.theme .danger {
  --primary: #940139;
  --primary-dark: #4b0023;
  --text-primary: white;
}

/* Horizontal rule color */
.theme hr, .theme .separator::before, .theme .separator::after {
  border: 1px solid rgba(255,255,255,0.02);
}

/* Logo color - original color is white. Inverting it makes it go black. */
.theme .logo, .theme .splash-logo, .theme .settle {
  filter: opacity(1);
}

/* Scrollbar thumb colors */
.theme ::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
}

/* Navigation bar item colors */ 
.theme .navbar-button *, .theme .navbar-item * {
  color: white;
}