/*
  displayName=Purple Accent
  author=Fractal
  type=Light
  endeavorVersion=4.0.1
  version=2
*/

.theme {
  /* Primary colors. Dominant color on screen.*/
  --primary: #FFFFFF;
  --primary-dark: #F4F4F4;
  --primary-darker: #E4E6EB;
  --primary-darkest: rgb(229, 232, 235);

  /*  Secondary colors to provide accents. By default, the gradient created
      by secondary and secondary-dark create the gradient on the navbar.
      This can be changed, of course.
  */
  --secondary: #5C5ABF;
  --secondary-dark: #440066;
  --secondary-darker: #32004b;
  --secondary-darkest: #230035;

  /* Navigation bar color. Can be a gradient or just a solid color. Your choice! */
  --navbar-color: linear-gradient(180deg, var(--secondary) 0%, var(--secondary-dark) 100%);

  /*  Controls color of text on primary or secondary colors.
      Make sure they're readable!
  */
  --text-primary: black;
  --text-secondary: white;
}

  /* Card/badge colors. */

.theme .warn { 
  --primary: #F0B65F;
  --primary-dark: #DF8532;
  --text-primary: white;
}

.theme .alert {
  --primary: #9C263F;
  --primary-dark: #6D1D35;
  --text-primary: white;
}

.theme .danger {
  --primary: #222222;
  --primary-dark: #181818;
  --text-primary: white;
}

/* Horizontal rule color */
.theme hr, .theme .separator::before, .theme .separator::after {
  border: 1px solid rgba(0,0,0,0.05);
}

/* Logo color - original color is white. Inverting it makes it go black. */
.theme .logo, .theme .splash-logo, .theme .settle {
  filter: invert();
}

/* Scrollbar thumb colors */
.theme ::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
}

/* Navigation bar item colors */ 
.theme .navbar-button *, .theme .navbar-item * {
  color: white;
}