@import url('https://fonts.googleapis.com/css?family=Manrope:100,200,300,400,500,600,700,800,900');

.nospacing {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

hr {
  border: 1px solid rgba(255,255,255,0.05);
}

:root {
  --foreground: white;
  --background: #071829;
  --sidebar: #102132;
  --card: #04223C;
  --cardDarker: #001B35;
  --cardAccent: #a11337;
  --cardAccent2: #7A0026;
  --cardAccent3: #55001B;
  --cardWarn1: #c03737;
  --cardWarn2: #ac1f1a;
  --gradient1: #680054;
  --gradient2: #F05661;
  --highlight: #17334F;
  --highlight-lighter: #11253a;
}

.bar {
	background: rgba(255,255,255,0.025);
  margin: 0px 20px 0px 20px;
  padding: 0;
}

.load {
  background: var(--highlight);
	width: 0%;
	height: 15px;
}

* {
  font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--foreground);
}

.loginBackground {
  background-color: var(--background);
  /*
  background-image: url("gradient-01.png");
  background-attachment: fixed;
  background-size: 1500px;*/
}

.background {
  background-color: var(--background);
}

.sidebar {
  background-color: var(--sidebar);
}

.sidebar > h3 {
  transition: all 0.15s;
  margin: 10px 0px 10px 0px; 
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
}

.sidebar > h1 {
  transition: all 0.25s;
  margin: 50px 0px 0px 20px; 
  padding-left: 20px; 
  padding-bottom: 10px; 
  font-weight: 300;
}

.sidebar > h3:hover {
  cursor: pointer;
  padding: 25px 20px 35px 45px;
  font-weight: 500;
  background-color: var(--highlight);
}

.card {
  background-color: var(--card);
  padding: 15px 20px 15px 20px;
  margin: 20px 20px 20px 20px;
}

.cardDarker {
  background-color: var(--cardDarker);
}

.cardReallyDanger {
  background-color: var(--cardAccent) !important;
  animation: attention 2.5s cubic-bezier(0.165, 0.84, 0.44, 1) both infinite;
}

.cardReallyDanger2 {
  background-color: var(--cardAccent2) !important;
}

.cardWarn {
  background-color: var(--cardWarn1) !important;
}

.cardWarn2 {
  background-color: var(--cardWarn2) !important;
}

.topbar {
  /*
  background: rgb(104,0,84);
  background: linear-gradient(90deg, var(--gradient1) 0%, var(--gradient2) 100%);*/
  background-color: var(--highlight-lighter);
}

.center {
  padding-top: 15px;
  max-width: 400px;
  min-width: 400px;
  max-height: 500px;
  min-height: 500px;
  margin: 0 auto;
}

.roundButton {
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: var(--card);
  box-sizing: border-box;
  outline: none;
  border: 0px solid var(--card);
  margin: 7px 0px 7px 0px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.roundButton:hover {
  cursor: pointer;
  background-color: var(--foreground);
  color: var(--background);
  border: 5px solid var(--card);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--cardDarker);
  color: white;
  text-align: center;
}

input {
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 18px;
  background-color: var(--card);
  color: var(--foreground);
  outline: none;
  border: 0px solid var(--card);
  border-radius: none;
  margin: 7px 10px 7px 0px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 400px; 
}

input:hover {
  background-color: var(--highlight);
}

input.transparent, button.transparent {
  background-color: rgba(0,0,0,0.2); 
  backdrop-filter: blur(2px);
}

button.transparent:hover {
  background-color: rgba(0,0,0,0.2); 
  border: 5px solid rgba(0,0,0,0.5);
}

input.transparent:hover {
  background-color: rgba(0,0,0,0.4); 
}

/* Fancy animations! */
@keyframes shimmer {
  0% {
    filter: brightness(0.5);
  }

  50% {
    filter: brightness(1.1);
  }

  100% {
    filter: brightness(0.5);
  }
}

.shimmer {
  animation: shimmer 0.5s infinite;
}

@keyframes attention {
  0% {
    box-shadow: 0;
  }

  50% {
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
  }

  100% {
    box-shadow: 0;
  }
}

/* Fancy transitions! */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.transition-enter-active {
  transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
}
.transition-leave-active {
  transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
  position: absolute;
}
.transition-enter, .transition-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: scale(0.75);
  opacity: 0;
}

.transition-move {
  transition: transform 0.35s;
}

.transition-enter-to, .transition-leave {
  transform: scale(1);
}

/* Fancy scrollbar! */
::-webkit-scrollbar-track
{
	background-color: var(--cardDarker);
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--cardDarker);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--highlight);	
}