@import url('https://fonts.googleapis.com/css?family=Manrope:100,200,300,400,500,600,700,800,900');

.nospacing {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

hr {
  border: 1px solid rgba(255,255,255,0.05);
}

.cardlist {
  overflow-y: scroll;
  max-height: 80vh; 
  margin-left: 25px; 
  margin-right: 25px;
}

.compactcardlist {
  max-height: 80vh;
  overflow-y: auto;
  margin-left: 25px; 
  margin-right: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.warn {
  --card: #df9463;
  --cardDarker: #c98d3f;
}

.alert {
  --card: #af3953;
  --cardDarker: #6d1d45;
}

.danger {
  --card: #b83860;
  --cardDarker: #a82d54;
}

.light-theme {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  --foreground: black;
  --background: #cacaca;
  --sidebar: #e9e9e9;
  --card: #f0f0f0;
  --cardDarker: #e0e0e0;
  --gradient1: #680054;
  --gradient2: #F05661;
  --highlight: #e7e7e7;
  --highlight-lighter: #d6d6d6;
  --topbar-color: #eeeeee;
}

.light-theme img :logo {
  filter: invert();
}

.dark-theme {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  --foreground: white;
  --background: #071829;
  --sidebar: #102132;
  --card: #04223C;
  --cardDarker: #001B35;
  --gradient1: #680054;
  --gradient2: #F05661;
  --highlight: #102336;
  --highlight-lighter: #0e1d2e;
  --topbar-color: #112b46;
}

.bar {
	background: rgba(255,255,255,0.025);
  margin: 0px 20px 0px 20px;
  padding: 0;
}

.load {
  background: var(--highlight);
	width: 0%;
	height: 15px;
}

* {
  font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--foreground);
}

.loginBackground {
  background-color: var(--background);
  /*
  background-image: url("gradient-01.png");
  background-attachment: fixed;
  background-size: 1500px;*/
}

.background {
  background-color: var(--background);
}

.sidebar {
  background-color: var(--sidebar);
}

.sidebar > h3 {
  transition: all 0.15s;
  margin: 10px 0px 10px 0px; 
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
}

.sidebar > h1 {
  transition: all 0.25s;
  margin: 50px 0px 0px 20px; 
  padding-left: 20px; 
  padding-bottom: 10px; 
  font-weight: 300;
}

.sidebar > h3:hover {
  cursor: pointer;
  padding: 25px 20px 35px 45px;
  font-weight: 500;
  background-color: var(--highlight-lighter);
}

.cardUpper {
  background-color: var(--card);
  padding: 15px 20px 15px 20px;
  margin: 20px 20px 20px 20px; 
}

.cardLower {
  background-color: var(--cardDarker);
  padding: 15px 20px 15px 20px;
  margin: 20px 20px 20px 20px;
}

.badge {
  background-color: var(--highlight);
  padding: 15px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-right: 10px;
  display: inline-block; 
  border-radius: 5px;
}

.attention {
  animation: attention-text 2.5s cubic-bezier(0.19, 1, 0.22, 1) infinite both;
}

.topbar {
  background-color: var(--topbar-color);
}

.settingsHighlight>div {
  transition: all 0.1s;
  border-radius: 10px;  
  padding: 50px;
  margin: 10px 0px 10px 0px;
}

.settingsHighlight>div:nth-of-type(odd) {
  background-color: var(--highlight);
}

.settingsHighlight>div:nth-of-type(even) {
  background-color: var(--highlight-lighter);
}

.settingsHighlight>div:hover {
  filter: brightness(1.05);
}



.center {
  padding-top: 50px;
  max-width: 400px;
  min-width: 400px;
  max-height: 500px;
  min-height: 500px;
  margin: 0 auto;
}

.roundButton {
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: var(--card);
  box-sizing: border-box;
  outline: none;
  border: 0px solid var(--card);
  margin: 7px 0px 7px 0px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.roundButton:hover {
  cursor: pointer;
  background-color: var(--foreground);
  color: var(--background);
  border: 5px solid var(--card);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--cardDarker);
  color: white;
  text-align: center;
}

input {
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 18px;
  background-color: var(--card);
  color: var(--foreground);
  outline: none;
  border: 0px solid var(--card);
  border-radius: none;
  margin: 7px 10px 7px 0px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 400px; 
}

input:hover {
  background-color: var(--highlight);
}

input.transparent, button.transparent {
  background-color: rgba(0,0,0,0.2); 
  backdrop-filter: blur(2px);
}

button.transparent:hover {
  background-color: rgba(0,0,0,0.2); 
  border: 5px solid rgba(0,0,0,0.5);
}

input.transparent:hover {
  background-color: rgba(0,0,0,0.4); 
}

/* Fancy animations! */
@keyframes shimmer {
  0% {
    filter: brightness(0.5);
  }

  50% {
    filter: brightness(1.1);
  }

  100% {
    filter: brightness(0.5);
  }
}

.shimmer {
  animation: shimmer 0.5s infinite;
}

@keyframes attention {
  0% {
    box-shadow: 0;
  }

  50% {
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
  }

  100% {
    box-shadow: 0;
  }
}

@keyframes attention-text {
  0% {
    text-shadow: 0;
    font-weight: normal;
  }

  50% {
    text-shadow: 0px 0px 20px rgb(101, 186, 255);
    font-weight: 900;
  }

  100% {
    text-shadow: 0;
    font-weight: normal;
  }
}

/* Fancy transitions! */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.transition-enter-active {
  transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
}
.transition-leave-active {
  transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
}
.transition-enter {
  transform: scale(0.9) translateY(-200px);
  opacity: 0;
}

.transition-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: scale(0.9) translateY(200px);
  opacity: 0;
}

.transition-move {
  transition: transform 0.35s;
}

.transition-enter-to, .transition-leave {
  transform: scale(1);
}

/* Fancy ticker animations! */
.ticker-enter-active {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.ticker-leave-active {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.ticker-enter, .ticker-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: scale(0.75);
  opacity: 0;
}


/* Fancy scrollbar! */
::-webkit-scrollbar-track
{
	background-color: var(--cardDarker);
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--cardDarker);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--highlight);	
}

/* Toggle switches! */
.b {
  display: block;
}

.toggle {
  position: relative;
  max-width: 60px;
  min-width: 60px;
  height: 40px;
  border-radius: 100px;
  background-color: #ddd;
  margin: 0;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

  .check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #4bd863;
  }

  .check:checked ~ .switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
  }

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}