@import url('https://fonts.googleapis.com/css?family=Manrope:100,200,300,400,500,600,700,800,900');

:root {
  --nav-bar-size: 75px;
}

.floating {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.changelog-view {
  margin: 30px 20%;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: var(--cardDarker);
  border-radius: 5px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.windowbuttons {
  background-color: var(--background);
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px -40px 0px;
}

.windowbutton {
  z-index: 70;
  transition: 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-app-region: no-drag;
  padding: 7px 17px 7px 17px;
}

.windowbutton:hover {
  background-color: var(--foreground);
  color: var(--background);
  transform: scale(1.1);
}

.windowbutton:hover * {
  color: var(--background);
}

.nospacing {
  margin: 0;
  padding: 0;
}

.nospacing>* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.dark-theme hr {
  border: 1px solid rgba(255,255,255,0.02);
}

.light-theme hr {
  border: 1px solid rgba(0,0,0,0.05);
}

.emptylistplaceholder {
  filter: opacity(0.6);
  margin: 5vh 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userpicture {
  margin: 50px 0 20px 0;
  width: calc(var(--nav-bar-size)/1.5);
  border-radius: 50%;
}

.cardlist {

}

.compactcardlist {
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.warn {
  --card: #c48256;
  --cardDarker: #b37d37;
}

.alert {
  --card: #9c263f;
  --cardDarker: #6d1d35;
}

.danger {
  --card: #181818;
  --cardDarker: #222222;
}

.light-theme .danger, .light-theme .alert, .light-theme .warn {
  --foreground: white !important;
}

.danger .cardUpper  {
  animation: attention 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.light-theme {
  --foreground: black;
  --background: #dcdcdc;
  --sidebar: #e9e9e9;
  --card: #ededed;
  --cardDarker: #eeeeee;
  --gradient1: #680054;
  --gradient2: #F05661;
  --highlight: #e7e7e7;
  --highlight-lighter: #d6d6d6;
  --topbar-color: linear-gradient(180deg, rgb(68, 0, 102) 0%, rgb(92, 90, 191) 100%);
  --scratchpad-background: #fdfdfd;
}

.dark-theme {
  --foreground: white;
  --background: #071829;
  --sidebar: #102132;
  --card: #04223C;
  --cardDarker: #001B35;
  --gradient1: #680054;
  --gradient2: #F05661;
  --highlight: #102336;
  --highlight-lighter: #0e1d2e;
  --topbar-color: linear-gradient(180deg, rgba(104,0,84,1) 0%, rgba(240,86,97,1) 100%);
  --scratchpad-background: #1b3755;
}

.light-theme .navbar-button *, .light-theme .navbar-item * {
  color: white;
}

.bar {
	background: rgba(255,255,255,0.025);
  margin: 0px 0px; 
  padding: 0;
}

.load {
  background: var(--highlight);
	width: 0%;
	height: 15px;
}

* {
  font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--foreground);
}

.app {
  background-color: var(--background);
  height: 100vh;
  width: 100vw;
}

.background {
  background-color: var(--background);
}

.sidebar {
  background-color: var(--sidebar);
}

.sidebar > h3 {
  margin: 0;
  transition: all 0.15s;
  padding: 20px 20px 20px 30px;
  font-weight: 300;
}

.sidebar > h3:hover {
  cursor: default;
  padding: 20px 20px 20px 40px;
  font-weight: 500;
  background-color: var(--highlight-lighter);
}

.sidebar > h1 {
  transition: all 0.25s;
  padding: 30px 20px 10px 20px;
  text-align: center;
  font-weight: 300;
}

.sidebar hr {
  margin: 20px 0 20px 0;
}

.sidebarfooter {
  margin: 20px 0;
  position: fixed;
  bottom: 0;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar>input {
  background-color: var(--background);
}

.searchbar>.searchicon {
  margin-left: -40px;
}

.cardUpper {
  background-color: var(--card);
  padding: 15px 20px 15px 20px;
  margin: 20px 0px; 
}

.cardLower {
  background-color: var(--cardDarker);
  padding: 15px 20px 15px 20px;
  margin: 20px 0px; 
}

.level {
  border-radius: 2px;
  padding: 10px 25px 10px 25px;
  background-color: var(--highlight-lighter);
  display: flex;
}

.level>.level-item {
  display: flex; 
  align-items: center;
  margin: 0px 25px 0px 25px;
}

.level>.level-item>*{
  margin: 5px;
}

.buttonwithlabel {
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: var(--card);
  box-sizing: border-box;
  outline: none;
  border: 0px solid var(--card);
  border-radius: 2px;
  font-size: 16px;
  padding: 15px;
  margin: 10px;
}

.buttonwithlabel.active {
  background-color: var(--foreground);
  color: var(--background);
}

.buttonwithlabel:hover {
  transform: scale(1.1);
  background-color: var(--foreground);
  color: var(--background);
}

.buttonwithlabel:active {
  transform:scale(0.9);
  background-color: var(--background);
  color: var(--foreground);
}

.badge {
  background-color: var(--cardDarker);
  padding: 15px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin-right: 10px;
  display: inline-block; 
  border-radius: 5px;
}

.badge.danger {
  animation: attention 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

.attention {
  animation: attention-text 2.5s cubic-bezier(0.19, 1, 0.22, 1) infinite both;
}

.topbar {
  background-color: var(--topbar-color);
  padding: 0;
}

.topbarelements {
  display: flex; 
  align-items: center;
  padding: 20px 30px;
}


.settingsHighlight>div:not(:first-child) {
  transition: all 0.1s;
  border-radius: 10px;  
  padding: 50px;
  margin: 10px 0px 10px 0px;
}

.settingsHighlight>div:nth-of-type(odd):not(:first-child) {
  background-color: var(--highlight);
}

.settingsHighlight>div:nth-of-type(even) {
  background-color: var(--highlight-lighter);
}

.settingsHighlight>div:hover {
  filter: brightness(1.05);
}

.draggable {
  cursor: move;
}

.floating-editor-textarea {
  overflow-y: auto !important; 
  max-height: calc(100% - 100px) !important; 
  max-width: 100% !important;
}

.floating-editor {
  transition: filter 0.2s;
  z-index: 100;
  background-color: var(--scratchpad-background);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  max-height: 50vh;
  resize: vertical;
  overflow-y: auto;
}

.floating-editor.unfocused {
  filter: saturate(0.75) brightness(0.5);
}

.menubar {
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.menubar > button {
  margin: 5px;
}

.center {
  padding-top: 50px;
  max-width: 400px;
  min-width: 400px;
  max-height: 500px;
  min-height: 500px;
  margin: 0 auto;
}

.roundButton {
  border: none;
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: var(--card);
  box-sizing: border-box;
  outline: none;
  margin: 7px 0px 7px 0px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.roundButton.danger {
  background-color: #F05661;
}

.roundButton:hover {
  border: none;
  background-color: var(--foreground);
  color: var(--background);
  transform: scale(1.1);
}

.roundButton:active {
  transform: scale(0.9);
  color: var(--foreground);
  background-color: var(--background);
}

.roundButton:active * {
  color: var(--foreground);
}

.roundButton:hover * {
  color: var(--background);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--cardDarker);
  color: white;
  text-align: center;
}

input {
  transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 18px;
  background-color: var(--card);
  color: var(--foreground);
  outline: none;
  border: 0px solid var(--card);
  border-radius: none;
  margin: 7px 10px 7px 0px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 400px; 
}

input:hover {
  background-color: var(--highlight);
}

input.transparent, button.transparent {
  background-color: rgba(0,0,0,0.2); 
  backdrop-filter: blur(2px);
}

button.transparent:hover {
  background-color: rgba(0,0,0,0.2); 
  border: 5px solid rgba(0,0,0,0.5);
}

input.transparent:hover {
  background-color: rgba(0,0,0,0.4); 
}

input[type="text"].seamless {
  background-color: rgba(255,255,255,0);
  font-size: 24pt;
}

/* Fancy animations! */
@keyframes shimmer {
  0% {
    filter: brightness(0.5);
  }

  50% {
    filter: brightness(1.1);
  }

  100% {
    filter: brightness(0.5);
  }
}

.shimmer {
  animation: shimmer 0.5s infinite;
}

@keyframes attention {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: inset 0 0 0px 5px rgba(255,255,255,0.35);
  }

  100% {
    box-shadow: none;
  }
}

@keyframes attention-text {
  0% {
    text-shadow: 0;
    font-weight: normal;
  }

  50% {
    text-shadow: 0px 0px 20px rgb(101, 186, 255);
    font-weight: 900;
  }

  100% {
    text-shadow: 0;
    font-weight: normal;
  }
}

/* Fancy transitions! */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.transition-enter-active {
  transition: all .125s cubic-bezier(1, 0, 0, 1);
}
.transition-leave-active {
  transition: all .125s cubic-bezier(1, 0, 0, 1);
}
.transition-enter {
  transform: translateY(-100px);
  opacity: 0;
}

.transition-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(100px);
  opacity: 0;
}

.transition-move {
  transition: transform 0.35s;
}

.transition-enter-to, .transition-leave {
  transform: scale(1);
}

/* Fancy ticker animations! */
.ticker-enter-active {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.ticker-leave-active {
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.ticker-enter, .ticker-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: scale(0.75);
  opacity: 0;
}

/* Fancy modals! */
.modal-enter-active {
  transition: all 0.25s cubic-bezier(1, 0, 0, 1);
}
.modal-leave-active {
  transition: all 0.25s cubic-bezier(1, 0, 0, 1);
  position: absolute;
}

.modal-enter, .modal-leave-to {
  transform: scale(0.8);
  opacity: 0;
}

.modal-enter, .modal-leave-to {
  opacity: 0;
}



/* Fancy scrollbar! */
::-webkit-scrollbar {
  width: 30px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 9px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 14px;
  background-color: rgba(170, 170, 170, 0.25);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.light-theme ::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
}

.dark-theme ::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(255, 255, 255, 0.089);
}

/* Toggle switches! */
.b {
  display: block;
}

.toggle {
  position: relative;
  max-width: 60px;
  min-width: 60px;
  height: 40px;
  border-radius: 100px;
  background-color: #ddd;
  margin: 0;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0,0,0,.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

  .check:checked ~ .track {
    box-shadow: inset 0 0 0 20px #4bd863;
  }

  .check:checked ~ .switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
  }

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition-property: left, right;
  transition-delay: 0s, .05s;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.05);
  border-radius: 40px;
}

.navbar-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  transition: width 150ms ease;
  top: 0;
  z-index: 10;
  position: fixed;
  background: var(--topbar-color);
  width: var(--nav-bar-size);
  max-height: 100vh;
  height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.navbar-extra-info {
  display: none;
}

.navbar:hover {
  width: calc(var(--nav-bar-size) * 4);
  overflow-y: overlay;
}

.navbar:hover .navbar-item {
  width: calc(var(--nav-bar-size) * 4);
}

.navbar:hover .link-text {
  filter: opacity(1);
  display: block;
}

.navbar:hover .navbar-extra-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-text {
  transition: all 200ms;
  margin-left: 15px;
  filter: opacity(0);
  display: none;
}

.navbar-item {
  background-color: rgba(0,0,0,0.125);
  display: flex;
  align-items: center;
}

.navbar-item:nth-child(2) {
  margin-top: 20px;
}
.navbar-item:last-child {
  margin-top: auto;
}

.navbar-button {
  transition: all 0.2s;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  width: var(--nav-bar-size);
  height: 75px;

  outline: none;
  border: none;
}

.navbar-button * {
  transition: all 0.2s;
}

.navbar-button:hover {
  background-color: rgba(255,255,255,0.15);
  font-size: 1.5rem;
}

.navbar-button:active, .navbar-button:active * {
  background-color: var(--foreground);
  color: var(--background);
  font-size: 0.8rem;
}

.view {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  margin-left: var(--nav-bar-size);
  min-width: calc(100vw - var(--nav-bar-size) - 80px);
  max-width: calc(100vw - var(--nav-bar-size) - 80px);
  padding: 0px 40px 0px 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  position: fixed;
  height: 60px;
  width: calc(100vw - var(--nav-bar-size) - 40px);
  left: var(--nav-bar-size);
  background-color: var(--background);
  box-shadow: 0px 0px 20px 20px var(--background);
  padding: 40px 40px 10px;
}

/* Fix weird transforms */
.transition-enter-active .header, .transition-leave-active .header {
  left: 0;
}

.header>*:not(:first-child) {
  margin: 0 20px;
}

.content {
  padding-top: 135px;
}

.light {
  font-weight: 300;
}

.logo {
  width: 300px;
  margin: -20px 0 -50px 0;
}

.light-theme .logo, .light-theme .splash-logo, .light-theme .settle {
  filter: invert() opacity(1);
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-logo {
  outline: 1px solid transparent;
  animation: bobbing 2s cubic-bezier(0.77, 0, 0.175, 1) alternate infinite;
  width: 500px;
  margin: 5vw 0 -25px 0;
}

.settle {
  outline: 1px solid transparent;
  width: 500px;
  margin: 5vw 0 -25px 0;
  animation: settle 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lesson-or-book-view {
  display: flex;
}

.lesson-or-book-view>*:first-child {
  max-width: calc(85vw - var(--nav-bar-size) - 5rem);
  overflow: scroll;
}

.lesson-or-book-view>*:nth-child(2) {
  max-width: 15vw;
}

.table-of-contents {
  width: 20rem;
  position: fixed;
  right: 50px;
}

.fill-row {
  width: 100%;
  box-sizing: border-box;
}

@keyframes bobbing {
  0% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1.25);
  }
}

@keyframes settle {
  0% {
    transform: scale(1.75);
  }

  100% {
    transform: scale(0.95);
  }
}